<!--<textarea rows="6" [value]="postValue" #postInput></textarea>-->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
          <input matInput 
          type="text" 
          formControlName="title"
          placeholder="Post Title">
        </mat-form-field>
        <mat-error *ngIf="form.get('title').invalid">
            Title is <strong>required</strong>
          </mat-error>

          <div>
            <button mat-stroked-button type="button" (click)="filepicker.click()">Pick a image</button>      <!-- If type of button not given takes as submit and doesnt allow to click as other fields are not filled-->
            <input type="file" #filePicker>
          </div>

      <mat-form-field>
        <textarea matInput 
        rows="6" 
        formControlName="content"
        placeholder="Post Content"></textarea>
      </mat-form-field>
      <mat-error *ngIf="form.get('content').hasError('required')">
          Content is <strong>required</strong>
        </mat-error>
      <button
        mat-raised-button
        color="accent"
        type="submit">Save</button>
  </form>
  
</mat-card>

